*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;

	--white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66)	
	--prueba: (180deg,#21c8f6,#637bff);
}

.background1-left-column{
	background: linear-gradient(180deg,#637bff,#21c8f6);
}


.background2-left-column{
	background: linear-gradient(180deg ,#227462,#1aab8b);
}

body{
	font-family: 'Open Sans', sans-serif;
	
}

.contenedor{
    width: 100%;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
   
    background: linear-gradient(to right,  hsla(203, 76%, 68%, 0.459), hsla(230, 68%, 59%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.header{
    height: 100vh;
    /* 02 */
    background-image: linear-gradient(to top, rgba(251, 194, 235, 0.486) 0%, hsla(218, 68%, 79%, 0.514) 100%), url(img/woman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}
/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
/*cursos*/
.container{
	display: flex;
	justify-content: center;
	height: 60vh;
    align-items: center;
}
.contenedorcurso {
	width: 100%;
	background-color: #f5f5f5c7;
    	padding: 40px 0;
	overflow: hidden;
    	margin: auto;
}
.curso {
	background-color:var(--white-text);
	border-radius: 1rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	display: flex;	
	margin: 1.5rem;
	overflow: hidden;
	width: 30rem;
	height: 20rem;
}

.curso h6 {	
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.curso  h2 {
	letter-spacing: .1rem;
	margin: 1rem 0;
	color: var(black-text);
}

.left-column {	
	color: var(--white-text);
	padding: 2rem;
	max-width: 10rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-column h2{
	color: var(--white-text);
}

.left-column i {
	font-size: 5rem
}

.right-column {
	padding: 30px;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
	
}

.right-column p{	
	font-size: .9rem;
	color: var(--black-text)
}

.button {
	border-radius: 3rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: var(--white-text);
	font-size: 1.2rem;
	padding: .8rem 1.5rem;
	letter-spacing: .1rem;
	align-self: flex-end;
}
/* Clients */

.clientes {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #f5f5f5;
}

.card {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    margin: 40px;
}

.card .content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;  
    text-align: center;  
    padding: 20px;
    background: #fff;
}

.card .content .img {
    height: 50%;
    margin-bottom: 20px;
}

.card .content .img img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card .content span {
    position: absolute;
    width: 350px;
    height: 200px;
    background: linear-gradient(to right, #3e6cb1, #3181f9);
    transform: rotate(-35deg);
    top: -50px;
    left: -100px;
}

.card .content h4 {
    font-size: 18px;
    color: #1a1919;
    margin-bottom: 5px;
}

.card .content h6 {
    font-size: 13px;
    color: #5e2066;
}

.card .content p {
    font-size: 13px;
    color: #1a161f;
    margin-top: 10px;
}

.card .links {
    position: absolute;
    z-index: 90;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    padding: 20px;
    align-items: center;
    right: 10px;
    top: 15px;
    transition: .5s;
}

.card:hover .links {
    right: -50px;
    border-radius: 0 10px 10px 0;
}


.card .links a {
    font-size: 20px;
    color: #646069;
}

.card .links a:nth-child(1):hover {
    color: #0158ca;
}

.card .links a:nth-child(2):hover {
    color: #1C93E4;
}

.card .links a:nth-child(3):hover {
    color: #5D277D;
}

.card .links a:nth-child(4):hover {
    color: #FE0000;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

.menu-navegacion{
    position: fixed;
    top: 0;
    width: 30vw;
    height: 100%;
    /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%); */
    /* 02 */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    /* 028 */
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translateX(110%);
    transition:transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}



.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Services */

.subtitulo{
    color: #9f8ad0;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}


.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    display: block;
    margin: auto;
    width: 80%;
}

.n-expert{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}
/*formulario*/
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.contenedor-form {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(69, 90, 100, 0.7);
  border-radius: 5px;
}

.servicios {
  list-style: none;
  text-align: center;
}
li{
    margin-bottom:10px;
}


.logo {
  text-align: center;
  margin-bottom: 1rem;
}

.info-empresa {
  padding: 1rem;
  background-color: #ccd7dc;
}
.info-empresa h3 {
    text-align: center;
    margin: 0px 50px 10px 50px;
    color: #455a64;
}


.nombre-empresa {
  color: #263137;
}

.contacto {
  padding: 1rem;
  background-color: #eaeff1;
}
.contacto h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.formulario label {
  display: block;
}
.formulario button,
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccd7dc;
}
.formulario textarea {
  resize: none;
}

.full {
  grid-column: 1/3;
}

.boton-enviar {
  background-color: #ccd7dc;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.boton-enviar:focus, .boton-enviar:hover {
  background-color: #455a64;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}
.img{
    width: 30px;
}


  
/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ffffff;
}

@media screen and (max-width:900px){
    header{
        height: 450px;
    background-attachment: inherit;
    }
    .textos-header h1 {
    font-size: 40px;
}
.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
}
    
    .contenedor-servicio img {
    width: 60%;
}

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    .curso {
        background-color: var(--white-text);
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
        display: flex;
        margin: 1.5rem;
        overflow: hidden;
        width: 35rem;
        height: 20rem;
    }
    .right-column {
        padding: 10px;
     
    }
    .left-column {

        max-width: 7rem;
    }
    .curso h2 {
        letter-spacing: 0rem;
        margin: 0rem ;
        font-size: 20px;
    }
    .curso h6 {
       text-align: center;      
    }
    .button {
        color: var(--white-text);
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
    }
       

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }
.img-galeria {
    width: 47%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}
    .agregar-imagen {
    width: 80%;
}
    .servicio-ind img{
        width: 90%;
    }
    .cont-expert  {
    width: 55%;
}
}

@media screen and (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 2fr 2fr;
    }
    .servicios {
      text-align: left;
      margin: 30px 40px;
    }
    .info-empresa h3 {
        margin: 0px 20px 10px 20px;
    }
    li{
        margin-bottom:10px;
    }
   
  }

@media screen and (max-width:500px){
    header {
    height: 450px;
    background-attachment: inherit;
}
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
     .cont-expert {
    width: 75%;
}
    .img-galeria {
    width: 47%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}
    .agregar-imagen {
    width: 80%;
}
    .contenedor-servicio img {
    width: 80%;
}

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }
	 .curso {
        background-color: var(--white-text);
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
        display: flex;
        margin: 1.5rem;
        overflow: hidden;
        width: 20rem;
        height: 20rem;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */


    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}
